<header>

  <div>
    <a href="#">
      <img src="assets/svg/logo.svg">
      <h2 id="title">Mw-Map</h2>
    </a>
  </div>

  <div class="right-bloc">
    <app-theme-switch></app-theme-switch>
    <app-profil-fab [connected]="connected" [username]="username" (clickButton)="onAuthClick($event)"></app-profil-fab>

    <button id="menu" mat-flat-button color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon style="color: #FFFFFF">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <app-home-menu [connected]="connected" [username]="username" (clickButton)="onAuthClick($event)"></app-home-menu>
    </mat-menu>


  </div>

</header>
