header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;

  background-color: #dc3545;
  color: var(--text-color);
}

header h2{
  font-family: 'Quicksand SemiBold', sans-serif;
}

header div{
  display: flex;
}

header div *{
  margin: 10px;
}

@media (max-width: 1000px){
  header{
    padding: 20px 50px;
  }
}

@media (max-width: 700px){
  header{
    flex-direction: column;
  }
  header h2{
    margin-bottom: 15px;
  }
}

/* CSS Class for NgClass*/

.background-disable{
  background-color: rgba(0, 0, 0, 0) !important;
  color: #1c1f23 !important;
}

.hidden{
  display: none !important;
}
