<mat-card>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <h2>Register</h2>

    <div class="user-info-container">
      <mat-form-field appearance="fill">
        <label for="firstname">Firstname: </label>
        <input id="firstname" type="text" required
               matInput formControlName="firstname" [errorStateMatcher]="matcher"
               placeholder="votre prénom">
        <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <label for="lastname">Lastname: </label>
        <input id="lastname" type="text" required
               matInput formControlName="lastname" [errorStateMatcher]="matcher"
               placeholder="votre nom">
        <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')">
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>


    <mat-form-field appearance="fill">
      <label for="username">Email: </label>
      <input id="username" type="email" required
             matInput formControlName="email" [errorStateMatcher]="matcher"
             placeholder="Ex. example@email.com">
      <mat-error *ngIf="registerForm.hasError('email') && !registerForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <label for="password">Password: </label>
      <input id="password" [type]="hide? 'password' : 'text'" required
             matInput formControlName="password" [errorStateMatcher]="matcher"
             placeholder="votre mot de passe">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="!registerForm.controls['password'].value">Enter your password</mat-hint>
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>

  <div id="login-form-options">
    <a class="accent-link" [routerLink]="['/auth/login']">login</a>
    <a class="accent-link" [routerLink]="['/forgot-password']">Forgot your password ?</a>
    <a [routerLink]="[returnUrl]">
      <mat-icon>arrow_back</mat-icon>
      Back to Home page</a>
  </div>


</mat-card>
