
<mat-expansion-panel class="flex-expendable" (afterExpand)="onExpand($event)">
  <mat-expansion-panel-header>
    <div class="flex-container">
      <div>{{data.metropolis}}</div>
      <div class="flex-infos">
        <div class="flex-item">{{data.dateHour | date : 'dd/MM/yyyy  HH:mm'}}</div>
        <div class="flex-item">{{data.consumption}} MWh</div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <app-metropolis-data-history [code]="data.code" [extendEvent]="extendEvent"></app-metropolis-data-history>
</mat-expansion-panel>
