/* TODO : CHECK MARGIN */
.flex-container {
  display : flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}

.flex-expendable {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-infos {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-item {
  margin-left: 50px;
}
