<div id="unauthenticated" [ngClass]="{'hidden' : connected}">
  <button mat-raised-button color="primary"
          [ngClass]="{'hidden' : registration_button_disabled}"
          (click)="onRegisterClick()">Register
  </button>
  <button mat-raised-button color="accent"
          [ngClass]="{'hidden' : connection_button_disabled}"
          (click)="onLoginClick()">Login</button>
</div>

<button [ngClass]="{'hidden' : !connected}" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
  <fa-icon [icon]="faUser" size="lg"></fa-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <app-home-menu [username]="username" [connected]="connected" (clickButton)="onAuthClick($event)"></app-home-menu>
</mat-menu>
