/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font: normal 16px sans-serif;
  color: #555;
}

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

a:hover{
  opacity: 1;
}
